body{
background:#f4f4f4;
font-family:Arial;
}
 
.container{
 
width:70%;
margin:auto;
margin-top:100px;
background:white;
padding:40px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;
 
}
 
h1{
 
color:#0d6efd;
 
}
 
h2{
 
color:#444;
 
}
 
p{
 
font-size:20px;
 
}
